nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

body {
    line-height: 2;
    background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: rgb(0, 0, 0);
    padding: 16px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(228, 17, 17);

}

.rodape {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 32px;
    width: 100%;
}

section {
    margin: 32px 0;
    padding: 32px;
    background-color: white(128, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 30px;
    font-size: xx-large;
}

.imagem {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin: 16px auto;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(0,0,0,0.5)
}

.imagem img {
    width: 100%;
    height: auto;
    display: block;
}

.flex {
    display: flex;
    margin: 0px;
    padding: 40px;
}

.preço {
    color: white;
    line-height: 2;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    font-size: large;
}
 
.preço a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.slider {
    margin: 0 auto;
    width: 700px;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 600px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

